body * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 18px;
}
body {
    margin: auto;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #e1e2e1;
    max-width: 1920px;
}
header {
    background: rgb(179, 195, 74);
    background: linear-gradient(55deg, rgba(179, 195, 74, 1) 0%, rgba(111, 195, 74, 1) 100%);
    width: inherit;
    max-width: inherit;
    min-width: 440px;
    opacity: 0.75;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
        h1  {
            color: aliceblue;
            text-align: center;
            font-style: italic;
            font-size: 25px;
        }
    .search-wrapper {
        position: relative;
        border: 2px solid black;
        width: 350px;
        border-radius: 50px;
        form {
            width: 300px;
            background: transparent;
            border: 1px solid black;
            height: 42px;
        }
        input,
        button {
            border: none;
            outline: none;
            background: transparent;
        }
        input {
            width: 100%;
            height: 42px;
            padding-left: 20px;
            &::placeholder{
                font-size: 20px;
                font-style: italic;
            }
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            height: 42px;
            width: 42px;
            background-image: url(assets/png/search.png);
            background-size: 20px;
            background-position-x: 50%;
            background-position-y: 50%;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 20px;
    padding: 20px;
    .table {
        width: 300px;
        height: 530px;
        // background: red;
        background: #f5f5f6;

        .testimg {
            width: 300px;
            height: 450px;
            // height: inherit;
        }
        .description-wrapper {
            padding: 0 10px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .rating-svg {
                display: block;
            }
            p {
                font-weight: 500;
                text-align: center;
            }
            .rating{
                border: 2px solid rgb(225,226,225);
                width: 45px;
                padding: 5px;
                border-radius: 15px;
            }
            .rating-svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}

nav {
    width: 200px;
    height: 50px;
    background: #f5f5f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    svg {
        width: 25px;
        height: 25px;
        &:hover {
            opacity: 0.5;
        }
        cursor: pointer;
    }
    .prev,
    .next {
        border: none;
        background: transparent;
    }
    .current {
        margin-bottom: 5px;
        p {
            font-weight: 700;
            font-size: 25px;
        }
        &:hover {
            opacity: 0.5;
        }
        cursor: default;
    }
}
