body * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
body {
    margin: auto;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // background: wheat;
    background: #e1e2e1;
    max-width: 1920px;
}
header {
    // background-color: azure;
    // background: black;
    background: rgb(179, 195, 74);
    background: linear-gradient(55deg, rgba(179, 195, 74, 1) 0%, rgba(111, 195, 74, 1) 100%);
    width: inherit;
    color: aliceblue;
    // width: 1200px;
    text-align: center;
    height: 80px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 20px;
    padding: 20px;
    .table {
        width: 300px;
        height: 550px;
        // background: red;
        background: #f5f5f6;

        .testimg {
            width: 300px;
            height: 450px;
            // height: inherit;
        }
        .description-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .rating-svg {
                display: block;
            }
            p {
                font-weight: 500;
            }
            .rating-svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}

nav {
    width: 200px;
    height: 50px;
    background: #f5f5f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    svg {
        width: 25px;
        height: 25px;
        &:hover {
            opacity: 0.5;
        }
        cursor: pointer;
    }
    .prev,.next {
        border: none;
        background: transparent;
    }
    .current {
        p {
            font-weight: 700;
            font-size: larger;
        }
        &:hover {
            opacity: 0.5;
        }
        cursor: default;
    }
}
