@import "_variables.scss";
button {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.button-primary {
    width: 157px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background: $color-primary;
    &:hover {
        background: #fddcc4;
    }
}
.button-arrow {
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    position: absolute;

    svg {
        width: 14px;
        height: 6px;
    }
}

.button-round {
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
    width: 52px;
    height: 52px;
    &.invalid {
        border: 2px solid $color-dark-s;
        color: $color-dark-s;
        &:hover {
            background: none;
        }
    }
    &.current {
        background: $color-primary;
    }
    &:hover {
        background: $color-primary-light;
    }
}

.hamburger {
    width: 30px;
    height: 30px;
    border: 1px solid violet;
    display: none;
    @media (max-width: $breakpoint-mobile) {
        display: flex;
        z-index: 2;
    }

    &.active {
        .wrapper {
            transform: rotate(-90deg);
        }
    }
    .wrapper {
        width: 100%;
        height: 20px;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: red;
        }
    }
}
