$svg-color: #f1cdb3;
$font1: Georgia, "Times New Roman", Times, serif;
$color-primary: #f1cdb3;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-l: #545454;
$color-dark-m: #b2b2b2;
$color-dark-s: #cdcdcd;
$color-dark-3xl: #292929;
$color-dark-2xl: #444444;
$color-dark-xl: #4c4c4c;
%header-default {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    margin: 0;
    // padding: 0;
}
.logo-subtitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #ffffff;
}
.logo-title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
}

h2 {
    @extend %header-default;
    font-size: 44px;
    line-height: 130%;
    color: #545454;
}
h3 {
    @extend %header-default;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
h4 {
    @extend %header-default;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
h5 {
    @extend %header-default;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */
    letter-spacing: 0.06em;
}
.paragraph-l {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;
    // margin: 0;
}

.paragraph-s {
    font-family: "Arial";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
}
.donation-description {
    font-family: "Arial";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.pets-card-title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin: 0;
}
