button {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.button-primary {
    width: 157px;
    height: 52px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
}

.button-arrow {
    border: 2px solid #f1cdb3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    position: absolute;

    svg{
        width: 14px;
        height: 6px;
    }
}
