h2, h3, h4, h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.logo-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.logo-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

h2 {
  font-size: 44px;
  line-height: 130%;
  color: #545454;
}

h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

h4 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
}

.paragraph-l {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

.paragraph-s {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
}

.donation-description {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.pets-card-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 0;
}

button {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.button-primary {
  width: 157px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background: #f1cdb3;
}

.button-primary:hover {
  background: #FDDCC4;
}

.button-arrow {
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  position: absolute;
}

.button-arrow svg {
  width: 14px;
  height: 6px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --example: green;
  --primary-width: 1280px;
}

html {
  background: black;
}

body {
  max-width: var(--primary-width);
  margin: auto;
}

.start-screen {
  width: inherit;
  height: 908px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  background: url(../../../assets/images/start-screen-background.jpg);
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.start-screen header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-screen header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 186px;
  height: 60px;
}

.start-screen header .logo .logo-title {
  margin: 0;
  word-wrap: none;
}

.start-screen header .logo .logo-subtitle {
  margin: 0;
  text-align: center;
}

.start-screen header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.start-screen header nav p {
  position: relative;
  color: #fafafa;
  cursor: pointer;
}

.start-screen header nav p a {
  text-decoration: none;
  color: #fafafa;
}

.start-screen header nav p:hover {
  opacity: 0.5;
}

.start-screen header nav .current-page::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #f1cdb3;
  bottom: 0;
}

.start-screen .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.start-screen .content-wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 460px;
  height: 322px;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 18px;
}

.start-screen .content-wrapper .content h2 {
  color: white;
}

.start-screen .content-wrapper .content p {
  color: #cdcdcd;
}

.start-screen .content-wrapper .content button {
  margin-top: 7px;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
}

.start-screen .content-wrapper .backgroud-img {
  background: url(../../../assets/images/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-size: 698px 728px;
  width: 698px;
  height: 728px;
  margin-left: 40px;
  margin-top: 60px;
}

.about-the-shelter {
  max-width: var(--primary-width);
  height: 588px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 125px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

.about-the-shelter .backgroud-img {
  width: 300px;
  height: 408px;
  background: url(../../../assets/images/about-pets.png);
  background-repeat: no-repeat;
}

.about-the-shelter .content {
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pets {
  width: inherit;
  height: 877px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
  background: #f6f6f6;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.pets h3 {
  text-align: center;
}

.pets .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8%;
  position: relative;
}

.pets .content-wrapper .card {
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fafafa;
  gap: 30px;
}

.pets .content-wrapper .card .image {
  width: 270px;
  height: 270px;
}

.pets .content-wrapper .card .image img {
  background-image: none;
}

.pets .content-wrapper .card p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pets .content-wrapper .card .button-primary {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #fafafa;
  width: 187px;
}

.pets .content-wrapper .card .button-primary:hover {
  background: #FDDCC4;
}

.pets .content-wrapper .button-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets .content-wrapper .button-arrow.left {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pets .content-wrapper .button-arrow.right {
  right: 0;
}

.pets .button-primary {
  width: 261px;
  height: 52px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: 611px;
  row-gap: 65px;
  padding-top: 80px;
  background: #ffffff;
}

.help h3 {
  text-align: center;
}

.help .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 119px;
          column-gap: 119px;
  row-gap: 40px;
  width: 1026px;
  height: 281px;
}

.help .list .svg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 113px;
}

.help .list .svg-wrapper .help-svg {
  position: relative;
  fill: #f1cdb3;
  max-width: 60px;
  max-height: 60px;
}

.donation {
  padding: 80px 20px;
  height: 462px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  background: #f6f6f6;
}

.donation img {
  padding-top: 10px;
}

.donation .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 380px;
  height: 282px;
  gap: 20px;
}

.donation .content .credit-card {
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation .content .credit-card .card-svg {
  width: 30px;
  height: 23px;
}

.donation .content p {
  margin: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px 0px 40px;
  background: url(../../../assets/images/start-screen-background.jpg);
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

footer h3 {
  color: #ffffff;
  white-space: pre;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer h4 {
  color: #f1cdb3;
  white-space: pre;
}

footer svg {
  fill: #f1cdb3;
}

footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 278px;
  height: 234px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contacts .mail,
footer .contacts .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

footer .location {
  width: 302px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .location h3 {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

footer .location .location-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .image {
  width: 310px;
  height: 310px;
}

footer .contacts-svg {
  width: 40px;
  height: 40px;
}

.test-sprite {
  display: none;
}
/*# sourceMappingURL=style.css.map */