@import "fonts.scss";
@import "elements.scss";
$svg-color: #f1cdb3;
$font1: Georgia, "Times New Roman", Times, serif;
$color-primary: #f1cdb3;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-l: #545454;
$color-dark-m: #b2b2b2;
$color-dark-s: #cdcdcd;
$color-dark-3xl: #292929;
$color-dark-2xl: #444444;
$color-dark-xl: #4c4c4c;
* {
    box-sizing: border-box;
}
:root {
    --example: green;
    --primary-width: 1280px;
}

body {
    max-width: var(--primary-width);
    margin: auto;
}
main {
}
// =============== Start Screen ===============
.start-screen {
    width: inherit;
    height: 908px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    // background: #211F20;
    background: url(../../../assets/images/start-screen-background.jpg);
    background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
    // background-repeat: no-repeat;
    // background-size: 698px 728px;
    header {
        display: flex;
        justify-content: space-between;
        .logo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 186px;
            height: 60px;
            .logo-title {
                margin: 0;
                word-wrap: none;
            }
            .logo-subtitle {
                margin: 0;
                text-align: center;
            }
        }
        nav {
            display: flex;
            gap: 35px;
            p {
                position: relative;
                color: $color-light-s;
            }
            .current-page {
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: $color-primary;
                    bottom: 0;
                }
            }
        }
    }
    .content-wrapper {
        display: flex;
        flex-direction: row;
        .content {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            width: 460px;
            height: 322px;
            align-self: center;
            gap: 18px;
            // margin-top: 225px;
            h1 {
                color: white;
            }
            p {
                color: $color-dark-s;
            }
            button {
                margin-top: 7px;
                width: 207px;
                height: 52px;
                background: #f1cdb3;
                border-radius: 100px;
            }
        }
        .backgroud-img {
            background: url(../../../assets/images/start-screen-puppy.png);
            background-repeat: no-repeat;
            background-size: 698px 728px;
            width: 698px;
            height: 728px;
            margin-left: 40px;
            margin-top: 60px;
        }
    }
}

.about-the-shelter {
    max-width: var(--primary-width);
    height: 588px;
    display: flex;
    justify-content: center;
    gap: 125px;
    flex-direction: row;
    align-items: center;
    .backgroud-img {
        width: 300px;
        height: 408px;
        background: url(../../../assets/images/about-pets.png);
        background-repeat: no-repeat;
    }
    .content {
        width: 430px;
        display: flex;
        flex-direction: column;
    }
}

.pets {
    width: inherit;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    background: $color-light-l;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    h3 {
        text-align: center;
    }
    .content-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8%;
        position: relative;
        .card {
            width: 270px;
            height: 435px;
            display: flex;
            flex-direction: column;
            background: $color-light-s;
            gap: 30px;

            .image {
                width: 270px;
                height: 270px;
                img {
                    background-image: none;
                }
            }

            p {
                align-self: center;
            }

            .button-primary {
                align-self: center;
                background: $color-light-s;
                width: 187px;
            }
           
        }

        .button-arrow{
            
            &.left{
                left: 0;
            }
            &.right{
                right: 0;
            }
        }
    }
    .button-primary {
        width: 261px;
        height: 52px;
        align-self: center;
        background: $color-primary;
    }
}

.help-svg {
    fill: $svg-color;
    display: none;
}

.test-sprite {
    display: none;
}
