@import url(/pages/main/styles/_fonts.scss);
h2, h3, h4, h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.logo-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.logo-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

h2 {
  font-size: 44px;
  line-height: 130%;
  color: #545454;
}

@media (max-width: 570px) {
  h2 {
    font-size: 25px;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 570px) {
  h3 {
    font-size: 25px;
  }
}

h4 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
}

.paragraph-l {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

@media (max-width: 570px) {
  .paragraph-l {
    max-width: 320px;
    height: auto;
  }
}

.paragraph-s {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
}

.donation-description {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.pets-card-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 0;
}

.paragraph-mobile-menu {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  color: #fafafa;
}

.paragraph-mobile-menu.current {
  color: #cdcdcd;
}

button {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.button-primary {
  width: 157px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background: #f1cdb3;
}

.button-primary:hover {
  background: #fddcc4;
}

.button-arrow {
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  position: absolute;
}

.button-arrow svg {
  width: 14px;
  height: 6px;
}

.button-round {
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background: none;
  width: 52px;
  height: 52px;
}

.button-round.invalid {
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}

.button-round.invalid:hover {
  background: none;
}

.button-round.current {
  background: #f1cdb3;
}

.button-round:hover {
  background: #FDDCC4;
}

.hamburger {
  width: 30px;
  height: 30px;
  border: 1px solid violet;
  display: none;
}

@media (max-width: 570px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
  }
}

.hamburger.active .wrapper {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hamburger .wrapper {
  width: 100%;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger .wrapper .line {
  display: block;
  width: 100%;
  height: 2px;
  background: red;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --example: green;
  --primary-width: 1280px;
  --padding-media: 40px;
}

html {
  background: black;
}

body {
  max-width: var(--primary-width);
  margin: auto;
}

@media (max-width: 1103px) {
  body {
    overflow-y: overlay;
  }
}

.start-screen {
  width: 100%;
  min-height: 908px;
  padding: 60px 40px 0 40px;
  background: url(../../../assets/images/start-screen-background.jpg);
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

@media (max-width: 1103px) {
  .start-screen {
    padding: 30px 30px 0 30px;
  }
}

@media (max-width: 570px) {
  .start-screen {
    padding: 30px 10px 0 10px;
    min-height: auto;
  }
}

.start-screen header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-screen header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 186px;
  height: 60px;
  z-index: 2;
}

.start-screen header .logo .logo-title {
  margin: 0;
  word-wrap: none;
}

.start-screen header .logo .logo-subtitle {
  margin: 0;
  text-align: center;
}

.start-screen header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

@media (max-width: 570px) {
  .start-screen header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .start-screen header nav.active {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0;
    top: 0;
    padding-top: 248px;
    background: #292929;
  }
  .start-screen header nav.active p {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #fafafa;
    margin: 0;
  }
  .start-screen header nav.active p.current {
    color: #cdcdcd;
  }
}

.start-screen header nav p {
  position: relative;
  color: #fafafa;
  cursor: pointer;
}

.start-screen header nav p a {
  text-decoration: none;
  color: #fafafa;
}

.start-screen header nav p:hover {
  opacity: 0.5;
}

.start-screen header nav .current-page::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #f1cdb3;
  bottom: 0;
}

.start-screen .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1103px) {
  .start-screen .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 70px;
  }
}

.start-screen .content-wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 460px;
  height: 322px;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 18px;
}

@media (max-width: 570px) {
  .start-screen .content-wrapper .content {
    width: 100%;
    text-align: center;
  }
}

.start-screen .content-wrapper .content h2 {
  color: white;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.start-screen .content-wrapper .content p {
  color: #cdcdcd;
}

.start-screen .content-wrapper .content button {
  margin-top: 7px;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
}

@media (max-width: 1103px) {
  .start-screen .content-wrapper .content button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.start-screen .content-wrapper .backgroud-img {
  background: url(../../../assets/images/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-size: 698px 728px;
  width: 698px;
  height: 728px;
  margin-left: 40px;
  margin-top: 60px;
}

@media (max-width: 1103px) {
  .start-screen .content-wrapper .backgroud-img {
    width: 569px;
    height: 593px;
    background-size: 569px 593px;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin-top: 90px;
  }
}

@media (max-width: 570px) {
  .start-screen .content-wrapper .backgroud-img {
    width: 260px;
    height: 271px;
    background-size: 260px 271px;
    margin-top: 70px;
  }
}

.about-the-shelter {
  max-width: var(--primary-width);
  min-height: 588px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 125px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

@media (max-width: 1103px) {
  .about-the-shelter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 80px;
    gap: 80px;
    min-height: 1048px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 570px) {
  .about-the-shelter {
    padding: 42px 10px;
    min-height: auto;
    gap: 42px;
  }
}

.about-the-shelter .backgroud-img {
  width: 300px;
  height: 408px;
  background: url(../../../assets/images/about-pets.png);
  background-repeat: no-repeat;
}

@media (max-width: 570px) {
  .about-the-shelter .backgroud-img {
    width: 260px;
    height: 353px;
    background-size: 260px 353px;
  }
}

.about-the-shelter .content {
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1103px) {
  .about-the-shelter .content {
    gap: 25px;
  }
}

@media (max-width: 570px) {
  .about-the-shelter .content {
    gap: 23px;
  }
  .about-the-shelter .content h3 {
    text-align: center;
  }
}

.about-the-shelter .content p {
  margin: 0;
}

@media (max-width: 570px) {
  .about-the-shelter .content p {
    text-align: justify;
    padding: 0px 15px;
  }
}

@media (max-width: 570px) {
  .about-the-shelter .content {
    width: auto;
  }
}

.pets {
  width: inherit;
  min-height: 877px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
  background: #f6f6f6;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.pets h3 {
  text-align: center;
}

.pets .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8%;
  position: relative;
}

.pets .content-wrapper .card {
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fafafa;
  gap: 30px;
}

@media (max-width: 1103px) {
  .pets .content-wrapper .card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 570px) {
  .pets .content-wrapper .card:nth-child(2) {
    display: none;
  }
}

.pets .content-wrapper .card .image {
  width: 270px;
  height: 270px;
}

.pets .content-wrapper .card .image img {
  background-image: none;
}

.pets .content-wrapper .card p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pets .content-wrapper .card .button-primary {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #fafafa;
  width: 187px;
}

.pets .content-wrapper .card .button-primary:hover {
  background: #fddcc4;
}

.pets .content-wrapper .button-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets .content-wrapper .button-arrow.left {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1103px) {
  .pets .content-wrapper .button-arrow.left {
    left: -10px;
  }
}

.pets .content-wrapper .button-arrow.right {
  right: 0;
}

@media (max-width: 1103px) {
  .pets .content-wrapper .button-arrow.right {
    right: -10px;
  }
}

.pets .button-primary {
  width: 261px;
  height: 52px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: 611px;
  row-gap: 65px;
  padding-top: 80px;
  background: #ffffff;
}

@media (max-width: 1103px) {
  .help {
    height: auto;
    padding-bottom: 100px;
    row-gap: 60px;
  }
}

.help h3 {
  text-align: center;
}

.help .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 119px;
          column-gap: 119px;
  row-gap: 40px;
  width: 1026px;
  height: 281px;
}

@media (max-width: 1103px) {
  .help .list {
    width: 630px;
    height: 449px;
    display: -ms-inline-grid;
    display: inline-grid;
        grid-template-areas: ". . ." ". . ." ". . .";
    -webkit-column-gap: 74px;
            column-gap: 74px;
    row-gap: 52px;
  }
}

@media (max-width: 570px) {
  .help .list {
    width: 100%;
    height: auto;
        grid-template-areas: ". . " ". . " ". . " ". . " ". . ";
  }
}

.help .list .svg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 113px;
}

.help .list .svg-wrapper .help-svg {
  position: relative;
  fill: #f1cdb3;
  max-width: 60px;
  max-height: 60px;
}

.donation {
  padding: 80px 20px;
  height: 462px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  background: #f6f6f6;
}

@media (max-width: 1103px) {
  .donation {
    min-height: 783px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
    gap: 18px;
  }
}

.donation img {
  padding-top: 10px;
}

@media (max-width: 1103px) {
  .donation img {
    padding-top: 40px;
  }
}

.donation .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 380px;
  height: 282px;
  gap: 20px;
}

.donation .content .credit-card {
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation .content .credit-card .card-svg {
  width: 30px;
  height: 23px;
}

.donation .content p {
  margin: 0;
}

footer {
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px 0px 40px;
  background: url(../../../assets/images/start-screen-background.jpg);
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

@media (max-width: 1103px) {
  footer {
    min-height: 639px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    row-gap: 60px;
    padding-top: 30px;
  }
}

footer h3 {
  color: #ffffff;
  white-space: pre;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer h4 {
  color: #f1cdb3;
  white-space: pre;
}

footer svg {
  fill: #f1cdb3;
}

footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 278px;
  height: 234px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contacts .mail,
footer .contacts .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

footer .location {
  width: 302px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .location h3 {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

footer .location .location-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .image {
  width: 310px;
  height: 310px;
}

@media (max-width: 1103px) {
  footer .image {
    width: 100%;
    text-align: -webkit-center;
  }
}

footer .contacts-svg {
  width: 40px;
  height: 40px;
}

.test-sprite {
  display: none;
}
/*# sourceMappingURL=style.css.map */