* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(http://habrastorage.org/files/996/d76/d04/996d76d0410d422fa54cc433ce7ead2a.png);
}

.slider-wrapper {
    display: flex;
    
    height: 600px;
    margin: 100px auto 0;
    position: relative;
    width: 800px;
}

.slider-container {
    background-color: #ddd;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}
.slides {
    height: inherit;
    position: absolute;
    width: inherit;
}

#page1:checked ~ .page1,
#page2:checked ~ .page2,
#page3:checked ~ .page3,
#page4:checked ~ .page4,
#page5:checked ~ .page5 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.page1 {
    background-image: url(assets/1.png);
}
.page2 {
    background-image: url(assets/2.png);
}
.page3 {
    background-image: url(assets/3.png);
}
.page4 {
    background-image: url(assets/4.png);
}
.page5 {
    background-color: rgba($color: #334488, $alpha: 0.6)
}
// sass --watch ./slider/style.scss:./slider/style.css