@import "../main/styles/_variables.scss";
@import "../main/styles/_fonts.scss";
@import "../main/styles/_elements.scss";

// @import "../main/style/_variables.scss";
// @import "../main/style/_variables.scss";
*{
    box-sizing: border-box;
}
:root {
    --example: green;
    --primary-width: 1280px;
}
body{
    max-width: var(--primary-width);
}
header {
    width: inherit;
    background: $color-light-xl;
    padding: 60px 40px 0px 40px;
    display: flex;
    justify-content: space-between;
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 186px;
        height: 60px;
        .logo-title {
            margin: 0;
            word-wrap: none;
            color: $color-dark-l;
        }
        .logo-subtitle {
            margin: 0;
            text-align: center;
            color: $color-dark-3xl;
        }
    }
    nav {
        display: flex;
        gap: 35px;
        p {
            position: relative;
            color: $color-dark-l;
            cursor: pointer;
            a{
                text-decoration: none;
                // color: $color-light-s;
            }
            &:hover{
                opacity: 0.5;
            }
        }
        .current-page {
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                background: $color-primary;
                bottom: 0;
            }
        }
    }
}