.about-the-shelter {
    max-width: var(--primary-width);
    min-height: 588px;
    display: flex;
    justify-content: center;
    gap: 125px;
    flex-direction: row;
    align-items: center;
    background: #ffffff;

    margin: auto;

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column-reverse;
        padding-top: 80px;
        gap: 80px;
        min-height: 1048px;
        justify-content: flex-end;
    }
    
    .backgroud-img {
        width: 300px;
        height: 408px;
        background: url(../../../assets/images/about-pets.png);
        background-repeat: no-repeat;
    }

    .content {
        width: 430px;
        display: flex;
        flex-direction: column;

        @media (max-width: $breakpoint-tablet) {
            gap: 25px;
            p {
                margin: 0;
            }
        }
    }
}
