.container {
    display: grid;
    grid-template-columns: 1;
    max-width: 1440px;
    width: 100%;
    gap: 15px;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(1fr);
    margin: 0 auto;

    width: -webkit-min-content;
    width: min-content;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
